{{ $title := .Get "title" | default (i18n "trustedByCompanies") }}
{{ $href := "https://wealthandfinance.digital/issues/q4-2025/10/" }}
{{ $animate := ne (.Get "animate" | default "true") "false" }}

<section class="border-b border-gray-200 bg-gray-50 overflow-hidden">
    <div class="py-7">
        <div class="logo-scroll">
            <div class="logos-slide{{ if $animate }} animate{{ end }}">
                {{ range seq 4 }}
                <a href="{{ $href }}" class="brand-title" target="_blank" rel="noopener noreferrer">{{ $title }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</section>
